@charset "UTF-8";

/* banner图 */
.banner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

.banner .banner_bgd {
    margin-top: 36px;
    margin-bottom: 30px;
}

.banner .banner_bgd li {
    display: none;

}

.banner .banner_bgd li:first-child {
    display: block;
}

.banner span {
    display: block;
    position: absolute;
    top: 50%;
    
    width: 39px;
    height: 69px;
    margin-top: -35px;

    background: url(../images/left-right.png) no-repeat;
}

.banner .left {
    left: 39px;

    background-position: -10px -10px;
}

.banner .right {
    right: 39px;

    background-position: -70px -10px;
}

/* banner图上的圆点 */
.banner .dots {
    position: absolute;
 
    bottom: 27px;
    left: 50%;
    margin-left: -48px;
}

.banner .dots li {
    float: left;
    
    margin-left: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: #fff;
}

.banner .dots li:last-child{
    background-color: #FE7B5A;
}

/* 同步课程标题栏 */
.main {
    width: 1180px;
    margin: 0 auto;
    margin-top: 5px;

}
.main_title {   
    padding-top: 20px;
}

.main_title .title h2 {
    font: 20px/66px "MicrosoftYaHei";
    color: #333333;
}

.main_title .title h2:before {
    content: "";
    display: block;
    float: left;

    margin-right: 10px;
    margin-top: 23px;
    width: 5px;
    height: 20px;
    background-color: #80C4AE
}

.main_title .title a {
    display: block;
    /* 距离h2设置行高6像素 */
    padding-top: 6px;

    font: 14px/60px "MicrosoftYaHei";
    color: #74C6B3;
}

.main_title .title a:after {
    content: "";
    display: block;
    float: right;

    margin-top: 26px;
    margin-left: 11px;
    
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #74C6B3;
}



/* 广告图2 */
.banner2 {
    margin-top: 4px;
    margin-bottom: 3px;
}
.banner2 img {
    height: 186px;
}

/* 在线测试 */
.main_banner1 ul li .pic .pic_bgd .fr:last-child {
    content: "";
    display: block;
    font: 12px/33px "MicrosoftYaHei";
    color: #FFFFFF;
    padding-right: 18px;
}

/* 精品课程 */
.main_title3 .title_cont .main_banner1{
    width: 877px;
} 

.main_title3 .title_cont .margin_right18 {
    margin-right: 18px;
} 

.main_title3 .title_cont .cont2-right {
    height: 474px;
}

.main_down {
    margin-bottom: 97px;
}

.main_down a {
    display: inline-block;
    padding-top: 24px;
    width: 380px;
}

.main_down img {
    width: 380px;
}

.main_down .pic2 {
    margin: 0 16px;
}

/* 侧边栏 */
.aside {
    position: fixed;
    top: 535px;
    right: 200px;
}

.aside div {
    margin-bottom: 5px;

    width: 70px;
    height: 70px;
}

.aside .test,.sub,.back {
    position: relative;
    background: url(../images/icon_1.png) no-repeat;
}

.aside .test img,.sub img,.back img {
    position: absolute;
    top: 9px;
    left: 21px;
}

.aside .test a,.sub a,.back a {
    display: inline-block;
    position: absolute;
    top: 47px;
    left: 8px;

    font: 14px "MicrosoftYaHei";
    color: #7DC0AB;
}
